@import url(https://fonts.googleapis.com/css?family=Dosis:200,300,regular,500,600,700,800);
* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 100vh;
  margin: 0 auto;
}

.button {
  all: unset;
  border: 2px solid rgb(78, 78, 78);
  padding: 4px;

  transform: scale(2.5);

  font-family: "Dosis";
  color: rgb(78, 78, 78);
}
